{% if choices %}
<div class="clear-files">
    {% if label %}
    <label>{{ label }}</label>
    {% endif %}

    <ul>
    {% for choice_id, file_obj in choices %}
        <li class="checkbox">
            <label for="{{ attrs.id }}_{{ forloop.counter }}">
                <input
                    type="checkbox"
                    id="{{ attrs.id }}_{{ forloop.counter }}"
                    name="{{ name }}"
                    value="{{ choice_id }}">{{ file_obj.name }}
            </label>&nbsp;&nbsp;
            <a href="{{file_obj.url}}" target="_blank">(Download)</a>
        </li>
    {% endfor %}
    </ul>

    {% if help_text %}
    <p class="help-block">
      {{ help_text }}
    </p>
    {% endif %}
</div>
{% endif %}
